<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./../css/mypage2.css" type="text/css">
<title> ユーザマイページ　呑兵衛土佐巡 </title>
<script type="text/javascript" src="./../js/jquery-2.1.4.min.js"></script>
<script type="application/javascript" src="./../js/jquery.raty.js"></script>
<script src="./../top/js/top.js"></script>
<script type="text/javascript">
$(function(){
	$('#star1').raty({ readOnly: true ,score: 4 });
	$('#star2').raty({ readOnly: true ,score: 4 });
	$('#star3').raty({ readOnly: true ,score: 5 });
	$('#star4').raty({ readOnly: true ,score: 5 });
	$('#star5').raty({ readOnly: true ,score: 4 });
	$('#star6').raty({ readOnly: true ,score: 5 });
	$('#star7').raty({ readOnly: true ,score: 5 });

	$('#star10').raty({ readOnly: true ,score: 4 });
	$('#star11').raty({ readOnly: true ,score: 5 });
	$('#star12').raty({ readOnly: true ,score: 4 });
	$('#star13').raty({ readOnly: true ,score: 5 });


});
</script>
</head>

<body>
	<header>
   <div class="container">
     <div class="header-left">
       <img class="logo1" src="./../img/のんべえ2.png">
     </div>
     <div class="header-left">
       <img class="logo2" src="./../img/rogo3.png">
     </div>
   </div>
 </header>

<div id="site-box1">

<div id="top">
<div id="user_name">
ANZAI　さんのマイページ
</div>

<div id="hensyu">
<a href="Y_mypage_change.html">
<input type="submit" value="プロフィール編集" />
</a>
</div>
</div>

<div id="profile">

<div id="face">
	<img src=""
	width="160" height="140" alt="face_picture">
</div>

<div id="profile_infomation">
 ユーザID：00000001  <br>
 <br>
 Email: slamdunk@yahoo.co.jp <br>
 <br>
 性別：男性　年齢：21　出身：神奈川  <br>
 <br>
</div>

</div>


<div id="Favorite">

<div id="F_osake">

<div id="osake10">お気に入りしたお酒一覧</div>

<div id="F_osake_infomation">
<form>
<ul>

<li class="osake1">
<input type="radio" id="osake1" name="f-osake" />
<label for="osake1">spirytus</label>
</li>

<li class="osake2">
<input type="radio" id="osake2" name="f-osake"/>
<label for="time">土佐鶴</label>
</li>

<li class="osake3">
<input type="radio" id="osake3" name="f-osake" />
<label for="time">ダバダ火振</label>
</li>

<li class="osake4">
<input type="radio" id="osake2" name="f-osake" />
<label for="time">ダバダ火振</label>
</li>

<li class="osake5">
<input type="radio" id="osake2" name="f-osake" />
<label for="time">ダバダ火振</label>
</li>

</ul>
</form>
</div>
</div>


<div id="F_mise">
<div id="mise">お気に入りした店舗一覧</div>
<div id="F_mise_infomation">
<form>
<ul>

<li class="mise1">
<input type="radio" id="mise1" name="f-mise" />
<label for="denwa">スピリタス</label>
</li>

<li class="osake2">
<input type="radio" id="mise2" name="f-mise" />
<label for="time">スピリトゥス・レクティフ(ry</label>
</li>

<li class="osake2">
<input type="radio" id="mise2" name="f-mise" />
<label for="time">スピリトゥス・レクティフ(ry</label>
</li>

<li class="osake2">
<input type="radio" id="mise2" name="f-mise" />
<label for="time">スピリトゥス・レクティフ(ry</label>
</li>

<li class="osake2">
<input type="radio" id="mise2" name="f-mise" />
<label for="time">スピリトゥス・レクティフ(ry</label>
</li>


</ul>
</form>
</div>
</div>

</div>

<div id="Review">

<div id="R_osake">
<div id="R_osake_title">レビューしたお酒の一覧</div>
<div id="R_osake_infomation">
<form>
<ul>
<li class="osake1">
	<input type="radio" id="osake1" name="r-osake" />
	<label for="osake1">spirytus: </label>
	<div id="star5"> </div>
  <div class="comment">癖になるおいしさ　オススメ </div>
</li>

<li class="osake2">
	<input type="radio" id="osake2" name="r-osake" />
	<label for="osake1">土佐鶴: </label>
	<div id="star6"> </div>
	<div class="comment">あの辛さが最高に良い</div>
</li>


<li class="osake2">
	<input type="radio" id="osake3" name="r-osake" />
	<label for="osake1">土佐鶴: </label>
	<div id="star7"> </div>
	<div class="comment">あの辛さが最高に良い</div>
</li>

<li class="osake2">
	<input type="radio" id="osake3" name="r-osake" />
	<label for="osake1">土佐鶴: </label>
	<div id="star12"> </div>
	<div class="comment">あの辛さが最高に良い</div>
</li>

<li class="osake2">
	<input type="radio" id="osake3" name="r-osake" />
	<label for="osake1">土佐鶴: </label>
	<div id="star13"> </div>
	<div class="comment">あの辛さが最高に良い</div>
</li>

</ul>
</form>
</div>
</div>


<div id="R_mise">
<div id="R_mise_title">レビューした店舗一覧 </div>
<div id="R_mise_infomation">
<form>
<ul>
<li class="mise1">
<input type="radio" id="mise1" name="r-mise" />
<label for="mise1">すぴりたす:</label>
<div id="star1"> </div>
<div class="comment">駅から近いし、料理も美味しい </div>
</li>

<li class="mise2">
<input type="radio" id="mise2" name="r-mise" />
<label for="mise2">スピリタス:</label>
<div id="star3"> </div>
<div class="comment">雰囲気がいい。落ち着く。</div>
</li>

<li class="mise2">
<input type="radio" id="mise2" name="r-mise" />
<label for="mise2">スピリタス:</label>
<div id="star4"> </div>
<div class="comment">雰囲気がいい。落ち着く。</div>
</li>

<li class="mise2">
<input type="radio" id="mise2" name="r-mise" />
<label for="mise2">スピリタス:</label>
<div id="star10"> </div>
<div class="comment">雰囲気がいい。落ち着く。</div>
</li>

<li class="mise2">
<input type="radio" id="mise2" name="r-mise" />
<label for="mise2">スピリタス:</label>
<div id="star11"> </div>
<div class="comment">雰囲気がいい。落ち着く。</div>
</li>
</ul>
</form>

</div>
</div>
</div>

<div id="sonota">
チェックしたお気に入り/レビューを<a href="Y_mypage.html"><input type="submit" value="削除" /></a>　
|　退会される方はこちらを<a href="delete.html"><input type="submit" value="クリック" /></a>
</div>


<div class="content">
        <!-- ここからボタン -->
        <div id="page-top" class="page-top">
          <p><a id="move-page-top" class="move-page-top"><img src = "../top/img/pt.png"></a></p>
        </div>
    </div>

		<HR style="margin: 1em 0 ;">

</div>



<footer>
  <div id="Copyright">
    Copyright (C) 2016 Spirytus. All Rights Reserved.
  </div>
</footer>

</dody>
</html>
